<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="UTF-8">
        <meta name="description" content="site BNB">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Thomas NEVEU">

        <title>BNB - {% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/style.css')}}"> {# asset pour viser le public #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        <footer>
            <div class="container-fluid">
                <div class="row text-center bg-dark text-white">
                    <div class="col-6 p-5 font-weight-light">
                        <p class="font-weight-bold">Coordonn&eacute;es</p>
                        <div class="dropdown-divider m-3"></div>
                        <p>100 rue de la Ville</p>
                        <p>62200 Boulogne-Sur-Mer</p>
                        <p>01.23.45.67.89</p>
                        <p>nom.prenom@mail.com</p>
                    </div>
                    <div class="col-md-6 p-5 font-weight-light">
                        <p class="font-weight-bold">&Agrave; propos</p>
                        <div class="dropdown-divider m-3"></div>
                        <p>Nous mettons en relations les voyageurs et les propri&eacute;taires qui veulent profiter d'opportunit&eacute;s et gagner de l'argent en proposant leur bien &agrave; la location !</p>
                    </div>
                    <div class="col-12 p-3 font-weight-light">
                        {{ copyright|raw }}
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
    
</html>
